$black : #3b3b3b;
$green : #3fe5c0;
$light-grey : #fafafa;
$grey : #ededed;

// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px) {  }

// Medium devices (tablets, 768px and up)
.nav-link.active a, .nav-pills {
	background-color: $green !important;
}

.nav-item a {
	color: $green;
}

.bg-success, .btn-success {

	background-color: $green !important;
	border: none;
}
.navbar-toggler-icon {
	fill: red !important;
}
@media (min-width: 768px) and (max-width: 991px) { 
	.nav-item a {
		font-size: 14px;
	}

}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px) { }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {  }

